In [86]:
#importing the necessary library
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [87]:
#reading the data file and displaying few records
raw_data_path = r"../raw-data\KaggleV2-May-2016.csv"
df = pd.read_csv(raw_data_path)
print(df.head())

      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No

In [88]:
#identifying the shape of dataframe (rows and columns)
print(df.shape)

(110527, 14)

In [89]:
#identifying information of each column (null values, count and the datatype of each column)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [90]:
#identifying the null values and their count
print(df.isna().sum())

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [91]:
#identifying the columns
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [92]:
#changing the column names to lower case for consistency
df.columns = df.columns.str.lower()

In [93]:
#verifying the changes applied
df.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'],
      dtype='object')

In [94]:
#corecting the wrong spelling of the column "hypertension"
df.rename(columns={"hipertension": "hypertension"}, inplace=True)

In [95]:
#verifying the changes applied
df.columns

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hypertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'],
      dtype='object')

In [96]:
#identifying duplicate values
dup_mask = df.duplicated(keep=False)
df_all_dups = df[dup_mask]

print("Mask of all dups:\n", dup_mask)
print("\nAll duplicated rows:\n", df_all_dups)

Mask of all dups:
 0         False
1         False
2         False
3         False
4         False
          ...
110522    False
110523    False
110524    False
110525    False
110526    False
Length: 110527, dtype: bool

All duplicated rows:
 Empty DataFrame
Columns: [patientid, appointmentid, gender, scheduledday, appointmentday, age, neighbourhood, scholarship, hypertension, diabetes, alcoholism, handcap, sms_received, no-show]
Index: []

In [97]:
unique_patients = df['patientid'].nunique()
print(unique_patients)

62299

In [98]:
#type-casting the datatype of `patientid` since it cannot be a float value
df["patientid"] = df["patientid"].astype(int)

In [99]:
df['gender'].value_counts()

gender
F    71840
M    38687
Name: count, dtype: int64

In [100]:
#cleaning the text columns
def clean_text_column(series):
    return (series
            .str.strip()                    # Remove leading/trailing whitespace
            .str.lower()                    # Convert to lowercase
            .replace('', np.nan))

text_cols = ['gender', 'neighbourhood', 'no-show']
for col in text_cols:
    df[col] = clean_text_column(df[col])

In [101]:
df.head(2)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handcap,sms_received,no-show
0,29872499824296,5642903,f,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,jardim da penha,0,1,0,0,0,0,no
1,558997776694438,5642503,m,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,jardim da penha,0,0,0,0,0,0,no

In [102]:
text_cols

['gender', 'neighbourhood', 'no-show']

In [103]:
# parse both columns
df['scheduledday']   = pd.to_datetime(df['scheduledday'],   format='%Y-%m-%dT%H:%M:%SZ')
df['appointmentday'] = pd.to_datetime(df['appointmentday'], format='%Y-%m-%dT%H:%M:%SZ')

print(df.dtypes)

patientid                  int64
appointmentid              int64
gender                    object
scheduledday      datetime64[ns]
appointmentday    datetime64[ns]
age                        int64
neighbourhood             object
scholarship                int64
hypertension               int64
diabetes                   int64
alcoholism                 int64
handcap                    int64
sms_received               int64
no-show                   object
dtype: object

In [104]:
df.head(2)

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hypertension,diabetes,alcoholism,handcap,sms_received,no-show
0,29872499824296,5642903,f,2016-04-29 18:38:08,2016-04-29,62,jardim da penha,0,1,0,0,0,0,no
1,558997776694438,5642503,m,2016-04-29 16:08:27,2016-04-29,56,jardim da penha,0,0,0,0,0,0,no

In [105]:
# columns to be encoded
cols_to_encode = ["gender", "neighbourhood", "no-show"]

# dict to hold the fitted encoders
encoders = {}

for col in cols_to_encode:
    le = LabelEncoder()
    # fit and transform the column, overwrite in place
    df[col + "_lbl"] = le.fit_transform(df[col])
    # keep the encoder if you need to decode later
    encoders[col] = le

print(df.info)

<bound method DataFrame.info of               patientid  appointmentid gender        scheduledday  \
0        29872499824296        5642903      f 2016-04-29 18:38:08
1       558997776694438        5642503      m 2016-04-29 16:08:27
2         4262962299951        5642549      f 2016-04-29 16:19:04
3          867951213174        5642828      f 2016-04-29 17:29:31
4         8841186448183        5642494      f 2016-04-29 16:07:23
...                 ...            ...    ...                 ...
110522    2572134369293        5651768      f 2016-05-03 09:15:35
110523    3596266328735        5650093      f 2016-05-03 07:27:33
110524   15576631729893        5630692      f 2016-04-27 16:03:52
110525   92134931435557        5630323      f 2016-04-27 15:09:23
110526  377511518121127        5629448      f 2016-04-27 13:30:56

       appointmentday  age      neighbourhood  scholarship  hypertension  \
0          2016-04-29   62    jardim da penha            0             1
1          2016-04-29   56    jardim da penha            0             0
2          2016-04-29   62      mata da praia            0             0
3          2016-04-29    8  pontal de camburi            0             0
4          2016-04-29   56    jardim da penha            0             1
...               ...  ...                ...          ...           ...
110522     2016-06-07   56        maria ortiz            0             0
110523     2016-06-07   51        maria ortiz            0             0
110524     2016-06-07   21        maria ortiz            0             0
110525     2016-06-07   38        maria ortiz            0             0
110526     2016-06-07   54        maria ortiz            0             0

        diabetes  alcoholism  handcap  sms_received no-show  gender_lbl  \
0              0           0        0             0      no           0
1              0           0        0             0      no           1
2              0           0        0             0      no           0
3              0           0        0             0      no           0
4              1           0        0             0      no           0
...          ...         ...      ...           ...     ...         ...
110522         0           0        0             1      no           0
110523         0           0        0             1      no           0
110524         0           0        0             1      no           0
110525         0           0        0             1      no           0
110526         0           0        0             1      no           0

        neighbourhood_lbl  no-show_lbl
0                      39            0
1                      39            0
2                      45            0
3                      54            0
4                      39            0
...                   ...          ...
110522                 43            0
110523                 43            0
110524                 43            0
110525                 43            0
110526                 43            0

[110527 rows x 17 columns]>

Created new columns with encoded labels for each columns, retaining the original column, <br> if necessary then we can remove the original columns using the following lines of code. <br>

In [106]:
# cols_to_remove = ["gender", "neighbourhood", "no-show"]
# df = df.drop(columns=cols_to_remove, inplace=True)

In [107]:
#writing the cleaned and processed data to a csv file
df.to_csv("../processed-data/medical-appointments.csv", index=False)